@import './colors.scss';

.comments-container{
    padding: 4px;
    width: 300px;
    border: solid $LINE_COLOR 2px;
}

.comment-card{
    display: flex;
}

.comment-card .user-image img{
    border-radius: 50%;
}
.comment-card .user-comment{
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}
.user-comment .user-name{
    color: $BLUE;
    font-size: small;
}
.user-comment .comment-body{
    font-size: smaller;
}
.user-comment .comment-date{
    font-size: smaller;
    color: $LIGHT_GRAY;
}
.acknowledged-text{
    color: rgb(209, 51, 51);
}
//for dashed borders
hr {
    margin: 1.875em 0;
    border: none;
    border-bottom: solid 1px $DARK;
}
.dashed-hr{
    border-bottom: dashed 1px $DARK;
}