@import './colors.scss';

.notification-button{
    position: relative;
    display: inline-block;
}
.notification-button .badge{
    position: absolute;
    top: -16px;
    right: -6px;
    padding: 2px 4px;
    border-radius: 50%;
    background: rgb(223, 16, 50);
    color: white;
    font-size: smaller;
}